body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 18px;
    margin: 10px;
  }
  
  #map {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
  }
  